@media screen and ( max-width: 1360px )

  .experts
    &-inner
      justify-content: center

@media screen and ( max-width: 1200px )

  .header
    &-contacts
      display: none

  .type
    &-grid
      grid-template-columns: repeat(3, 1fr)
      justify-items: center
    &-info
      padding: 50px 0
      text-align: center
      grid-column-start: 1
      grid-column-end: 4
      margin: 0 auto

  .person
    &-content
      width: 100%
    &-sidebar
      flex-direction: row
      justify-content: space-evenly
      gap: 30px
      width: 100%
      flex-wrap: wrap

@media screen and ( max-width: 1024px )

  .info
    &-inner
      flex-wrap: wrap-reverse
      justify-content: center
    &-img
      img
        width: 100%
        height: auto

@media screen and ( max-width: 875px )

  .header
    &-nav
      display: none
    &-lang
      display: none

  .type
    &-grid
      grid-template-columns: repeat(2, 1fr)
      justify-items: center
    &-info
      padding: 50px 0
      text-align: center
      grid-column-start: 1
      grid-column-end: 3
      margin: 0 auto

@media screen and ( max-width: 768px )

  .intro
    &-container
      justify-content: center
      height: 100%
      min-height: 330px
    &-img
      display: none
    &-info
      text-align: center
    &-btn
      display: flex
      justify-content: center

  .team
    &-container
      justify-content: space-evenly
      height: 100%
      min-height: 330px
    &-title
      text-align: center
    &-btn
      display: flex
      justify-content: center

  .laboratory
    &-container
      justify-content: space-evenly
      height: 100%
      min-height: 330px
    &-title
      text-align: center
    &-btn
      display: flex
      justify-content: center

  .routs
    &-container
      text-align: center
      height: 100%
      min-height: 330px
    &-btn
      display: flex
      justify-content: center

  .about
    &-container
      text-align: center
      height: 100%
      min-height: 330px

  .price
    &-container
      text-align: center
      height: 100%
      min-height: 330px

  .contacts
    &-container
      text-align: center
      height: 100%
      min-height: 330px

  .person
    &-container
      text-align: center
      height: 100%
      min-height: 330px

  .others
    &-inner
      flex-direction: column-reverse

  .page
    &-container
      justify-content: space-evenly
      height: 100%
      min-height: 330px
    &-title
      text-align: center

  .service
    &-container
      justify-content: space-evenly
      height: 100%
      min-height: 330px
    &-title
      text-align: center
    &-btn
      display: flex
      justify-content: center

@media screen and ( max-width: 575px )

  .type
    &-grid
      grid-template-columns: 1fr
      justify-items: center
    &-info
      padding: 50px 0
      text-align: center
      grid-column-start: 1
      grid-column-end: 2
      margin: 0 auto

  .table
    &-desc
      &-title
        padding: 20px 10px
        width: 70%
      &-price
        width: 30%

@media screen and ( max-width: 425px )

  .experts
    &-btn
      a
        padding: 20px 0
        width: 100%

  .services
    &-btn
      a
        padding: 20px 0
        width: 100%

  .menu__box
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
